#logo{
    width: 150px;
}
.upper{
    text-transform: uppercase;
    font-weight: bold;
}
.margen{
    margin-top: 20px;
}
h3{
    text-transform: uppercase;
    text-align: center;
}
.card{
    width: 20rem;
}
.boton{
    width: 100%;
    text-transform: uppercase;
}
.card-body p{
    text-align: justify;
}